[defaults]
inventory = hosts
collections_path = ./.ansible/collections
local_tmp = ./.cache/ansible/tmp
host_key_checking = true
timeout = 60
stdout_callback = ansible.builtin.default
inject_facts_as_vars = false

[callback_default]
result_format = yaml

[ssh_connection]
pipelining = true
